<div [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <my-date-input formControlName="date" required></my-date-input>
    <ng-container *ngIf="date.hasError('invalidDate')">
      <mat-error>
        Invalid date
      </mat-error>
      </ng-container>
    <mat-icon matSuffix>calendar_today</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <my-time-input formControlName="time" required></my-time-input>
    <mat-icon matSuffix>access_time</mat-icon>
  </mat-form-field>
</div>
